// --- init head.pug ---

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

title= `${pageTitle} | ${siteName}`

link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css")

link(rel="stylesheet", href=`${dirCss}/styles.css`)

//  --- end head.pug  ---