// --- init Header.pug ---

h2= `SOY EL HEADER de ${pageTitle} | ${siteName}`
ul.nav_horizontal.btn-prim
  li
    a.color--prim(href="home.html") Ir a home...
  li
    a.color--prim(href="contacto.html") Ir a contacto...
  li
    a.color--prim(href="colores.html") Colores
  li
    a.color--prim(href="grid.html") Grid
  li
    a.color--prim(href="typography.html") Typography
  li
    a.color--prim(href="images.html") Images
  li
    a.color--prim(href="buttons.html") Buttons

// --- end Header.pug ---