// init config.pug

-
  var siteName = 'RamonBL'
  var pageTitle = 'Title por defecto'

  var currentPage = "Nombre de la página por defecto"
  
  var dirCss = '../css';
// nombre del sitio por defecto cargado...
// titulo de la página por defecto cargado...
// Nombre de la página por defecto cargado...

//  end config.pug 