// --- init colores__main

// Container es un contenedor que centra el contenido automáticamente y tiene un ancho que, por defecto, depende del ancho de la pantalla.
  <601px es 90%, <993 es 85% y así hasta 70%
.container

  //- Fontcolor exige `XXX-text` (color) y `text-YYY` para oscuridad
  //- Bgcolor solo exige <color>.<oscuridad>
  h1.blue-text.text-darken-4 Hola mundo
  h2.red.darken-4.white-text Hola mundo


// --- end colores__main